*{
    padding: 0%;
    margin: 0%;
}
.box5{
    display: flex;
    height: 200px ;
    justify-content:center ;

    padding: 40px; 

}
#color21{

    background-color: rgb(25, 158, 54);
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#color22{

    background-color: darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color23{

    background-color: lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color24{

    background-color: rgb(25, 158, 54);
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
} 
#color25{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box6{
    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px; 

}
#color26{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color27{

    background-color:rgb(25, 158, 54);;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color28{

    background-color:lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color29{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color30{

    background-color:lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box7{
    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px; 

}
#color31{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color32{

    background-color:rgb(25, 158, 54);;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color33{

    background-color:lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color34{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color35{

    background-color:lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box8{


    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px; }


#color36{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color37{

    background-color:rgb(25, 158, 54);;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color38{

    background-color:lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color39{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#color40{

    background-color:lightcoral;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}