*{
    padding: 0%;
    margin: 0%;
}
.box9{

    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px;
 }
 #color41{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color42{

    background-color:gray;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color43{

    background-color: gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color44{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color45{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 .box10{

    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px;
 }
 #color46{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color47{

    background-color:gray;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color48{

    background-color: gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color49{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color50{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 .box11{

    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px;
 }
 #color51{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color52{

    background-color:gray;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color53{

    background-color: gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color54{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color55{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 .box12{

    display: flex;
    height: 200px ; 
    justify-content:center ;
    
    padding: 40px;
 }
 #color56{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color57{

    background-color:gray;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color58{

    background-color: gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color59{

    background-color:darkcyan;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 #color60{

    background-color:gold;
    height: 222px;
    width: 291px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }